.nav-link{
  min-width: 650px;
  max-height: 900px;
  display: flex;
  align-items: center;
  margin-left: 80px;
}

.nav-link > a{
  width: 120px;
  height: 120px;
  text-align: center;
  margin: 10px;
  border-radius: 120px;
  padding-top: 45px;
  font-weight: 650;
  font-size: 1.2rem;
  border: 4px solid black;
}

.nav-link > a:hover{
  opacity: 0.4;
}


.nav-link > a:nth-child(1){
  width: 150px;
  height: 150px;
  background-color:dodgerblue;
  padding-top: 55px;
  font-size: 1.5rem;
  font-weight: 650;
  border: 4px solid grey;
}

.nav-link > a:nth-child(2){
  background-color: red;
}

.nav-link > a:nth-child(3){
  background-color: yellow;
}

.nav-link > a:nth-child(4){
  background-color: #81FA3A;
}


.balls{
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: right;
  margin-left: 500px;
}

.balls>div{
  margin: 20px;
  width: 100px;
  height: 100px;
  background-size: cover;
  margin-top: -100px;
  animation: roll  3s linear infinite;
  transform-origin: 50% 50%;;
}

.balls>div:nth-child(1){
  background-image: url(/public/img/monsterBall.png);
}
.balls>div:nth-child(2){
  background-image: url(/public/img/superBall.png);
  animation-duration: 3.5s;
}
.balls>div:nth-child(3){
  background-image: url(/public/img/hyperBall.png);
  animation-duration: 4s;
}
.balls>div:nth-child(4){
  background-image: url(/public/img/masterBall.png);
  animation-duration: 4.5s;

}

@keyframes roll {
  100%{
    transform: rotate(360deg);
  }
}