.layout-main{
  display: flex;
  margin: auto;
  margin-top: 20px;
  background-color: aliceblue;
  width: 90%;
  min-height: 750px;
  height: 750px;
}

.layout-1{
  background-color: antiquewhite;
  min-width: 400px;
  width: 50%;
  height: 100%;
}
.layout-2{
  display: flex;
  flex-direction: column;
  min-width: 400px;
  width: 50%;
}

.layout-2-1{
  background-color: aquamarine;
  height: 50%;
}

.layout-2-2{
  background-color: blueviolet;
  height: 50%;
}


.top-arrow{
  width:50px; height:50px;
  position:absolute;
  top: 150px; right: 20px;
  animation-duration: 2s;
  animation-name: arrowAni;
  animation-iteration-count: infinite;
  font-weight: 800;
} 

@keyframes arrowAni{
  from{
    top: 120px
  }
  to{
    top: 100px
  }
}