.input-div{
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 90%;
  min-height: 87vh;
  text-align: center;
}

.input-div input[type=text]{
  border: none;
  width: 200px;
  height: 30px;
  margin:30px 0 30px 0;
}


.pokemonlist{
  position: relative;
  background-color: aliceblue;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  min-width: 740px;
  width: 86%;
  margin: auto;
}

.pokemonlist li{
  width: 300px;
  height: 400px;
  background-color: red;
  margin: 33px;
  border: 3px solid black;
}

.pokemonlist li>div{
  background-color: white;
  width: 90%;
  margin: auto;
  margin-top: 8px;
  height: 250px;
  border: 3px solid grey;
}

.pokemonlist li img{
  width: 90%;
  height: 250px;
  transition: all 1s;
}

.pokemonlist li img:hover{
  transform: scale(1.2);
  transition: all 1s;
}
.pokemonlist li>.pokemonlist-no{
  margin-top: 15px;
}
.pokemonlist li>.pokemonlist-text{
  margin-top: 10px;
  font-weight: 550;
  font-size: 1.5rem;
}

.top-btn{
  background-image: url(/public/img/monsterBall.png);
  background-size: cover;
  width: 80px;
  height: 80px;
  right: 2%;
  top: 80%;
  position: fixed;
  z-index: 5;
  cursor: pointer;
  text-align: center;
}
.top-btn{
  font-size: 1.2rem;
  font-weight: 500;
}

