.imfo, .imfo-pokemon, .imfo-pokemon div{
  z-index: 100;
}

.imfo{
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  width: 100%;
  height: 400vh; /*115vh*/
  top: 0px;
  left: 0px;
}

.imfo-pokemon{
  position: relative;
  background-color: lightgrey;
  width: 800px;
  margin: auto;
  margin-top: 50%;
  height: 100vh;
}

.imfo-pokemon div{
  width: 600px;
  margin: auto;
  margin-top: 200px ;
  background-color: aliceblue;
}

.imfo-pokemon-img{
  width: 80%;
  margin: auto;
  height: 60ch;
}