.encyclopedia{
  background-color: lightgrey;
  width: 100%;
  position: relative;
}

.search-box{
  display: inline-block;
  margin-top: 40px;
  margin-left: 40%;
}
.search-box>ul{
  display: flex;
  align-items: center;
}
.search-box .search-box-input{
  width: 300px;
  height: 40px;
  font-size: 1.2rem;
}
.search-box .search-box-button{
  width: 50px;
  height: 40px;
  font-size: 1.1rem;
}

.reset-botton{
  width: 50px;
  height: 40px;
  font-size: 1.1rem;
}

.pokemons-list{
  background-color: aliceblue;
  display: flex;
  width: 80%;
  margin: auto;
  margin-top: 20px;
  flex-wrap: wrap;
}

.pokemons-list>li{
  margin-left: 3.5%;
  margin-top: 20px;
  width: 250px;
  height: 300px;
  border-radius: 10px;
  background-color: red;
  border: 4px solid black;
}

.pokemons-list-img{
  margin: auto;
  margin-top: 15px;
  width: 90%;
  height: 170px;
  border-radius: 10px;
  background-color: white;
  border: 3px solid gray;
  text-align: center;
}

.pokemons-list-img>img{
  width: 100%;
  height: 160px;
  transition: 0.5s;
}
.pokemons-list-img>img:hover{
  transform: scale(1.2);
  transition: 0.5s;
}

.pokemons-list-no{
  margin-top: 3px;
  margin-left: 15px;
  font-weight: bold;
}

.pokemons-list-text{
  margin-top: 15px;
  text-align: center;
  font-weight: bold;
  font-size: 1.3rem;
}