*{margin: 0; padding: 0; box-sizing: border-box;}

.game-Box{
  display: flex;
  flex-wrap: wrap;
  width: 95%;
  margin: auto;
}

.game-Box>.game{
  background-color: whitesmoke;
  width: 100%;
  height: 35vh;
  margin: auto;
  margin-top: 50px;
  border: 3px solid gray;
}


.game-Box>.mobile-game{
  background-color: whitesmoke;
  width: 100%;
  height: 35vh;
  margin-top: 50px;
  border: 3px solid gray;
}