@import url('https://fonts.cdnfonts.com/css/pokemon-solid');



*{margin: 0; padding: 0; box-sizing: border-box;}

ul{
  list-style-type: none;
}

a{
  text-decoration: none;
  color: black;
}

/* 전체 페이지 */
#root{
  background-color: lightgrey;
  
}


/*header*/
.header{
  position: relative;
  background-color: red;
  border-bottom: 3px solid black;
  height: 80px;    
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header a{
  margin-left: 10px;
  margin-bottom: 10px;
  text-shadow: black 2.5px 2.5px 2.5px;
  color: yellow;
  font-size: 1.8rem;
  font-family: 'Pokemon Solid', sans-serif;
  transition: all 1s;
}

.header a:hover{
  font-size: 2.1rem;
  transition: all 1s;
}


.header>.top-circle{
  position: absolute;
  width: 60px;
  height: 30px;
  background-color: white;
  border-radius: 80px 80px 0 0;
  border-top: 3px solid black;
  border-left: 3px solid black;
  border-right: 3px solid black;
  left: 50%;
  top: 50px;   /*47.5vh*/
  cursor:'pointer'
}
.header>.top-circle:hover{
  cursor: pointer;
}

.online-shop{
  width: 80px;
  height: 80px;
  background-image: url('./img/sit.png');
  background-size: cover;
}
.online-shop:hover{
  background-image: url('./img/hi.png');
}


/*main*/
.main{
  padding-top: 30px;
  min-height: 87vh;
  height: 100vh;
}

.not-click{
  height: 0;
  opacity: 0;
}

.click{
  opacity: 1;
  height: 87vh;
  transition: all 1.5s;
}


/*footer*/
.footer{
  position: relative;
  background-color: white;
  border-top: 3px solid black;
  height: 80px;
  display: flex;
  justify-content: space-between;
}

.footer>.bottom-circle{
  position: absolute;
  width: 60px;
  height: 30px;
  background-color: white;
  border-radius: 0 0 70px 70px;
  border-bottom: 3px solid black;
  border-left: 3px solid black;
  border-right: 3px solid black;
  left: 50%;
  top: -3px;
}