*{margin: 0; padding: 0; box-sizing: border-box;}

ul{
  list-style-type: none;
}

a{
  text-decoration: none;
  color: black;
}

/* 전체 페이지 */
#root{
  background-color: lightgrey;
}


/*header*/
.header{
  position: relative;
  background-color: red;
  border-bottom: 3px solid black;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/*main*/
.main{
  padding-top: 30px;
  min-height: 87vh;
}


/*footer*/
.footer{
  position: relative;
  background-color: white;
  border-top: 3px solid black;
  height: 80px;
}
